<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CriCut.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>74FEDA522E255CB300CFAE38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74FEDA622E255CB500CFAE38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74FEDA6C2E255CB500CFAE38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
